li
{
	padding-top: 0;
}

h3
{
	margin-top: 5px;
}

button
{
	margin-right:2px;
}

#created
{
	position:absolute;
	right: 5px;
	font-size: 0.6em;
}

#suppressButton
{
  position: absolute;
  right: 2px;
}

